@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&display=swap');
* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif !important;
}

html {
  overscroll-behavior: none;
  font-size: 14px;
//overflow-y: scroll; /* Always show vertical scrollbar */
}

body {
  margin: 0 !important;
  width: 100%;
  height: 100%;
  overscroll-behavior: none;
}

/* Áp dụng cho toàn bộ trang hoặc 1 container cụ thể */
::-webkit-scrollbar {
  width: 6px; /* Độ rộng thanh cuộn dọc */
  height: 6px; /* Thanh cuộn ngang nếu có */
}

/* Track (phần nền) */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Thumb (phần kéo) */
::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.35);
  border-radius: 10px;
  transition: background-color 0.2s ease;
}

/* Hover đẹp hơn */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(100, 100, 100, 0.55);
}

/* Ẩn hoàn toàn mũi tên lên/xuống */
::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}

* {
  scrollbar-width: thin; /* “auto” | “thin” */
  scrollbar-color: rgba(100, 100, 100, 0.35) transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(180, 180, 180, 0.5);
}

/* Ẩn mũi tên (nút ↑ và ↓) */
::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}

.toggleCheckbox {

}

